
<!DOCTYPE html>
<html lang="en">
  <title> Stock Analysis </title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <form action="{{url_for('plot')}}" method="POST">
          <input title="Enter NYSE symbol: " placeholder="NYSE Symbol" type="string" name="symb" required> <br>
          <button type="submit"> Submit </button>
        </form>
      </div>
      <div class=web-stat>
        <!-- Begin Web-Stat code v 6.3 -->
            <span id="wts1749173">&nbsp;</span><script>
              var wts=document.createElement('script');wts.type='text/javascript';
              wts.async=true;wts.src='https://wts.one/5/1749173/log6_2.js';
              document.getElementById('wts1749173').appendChild(wts);
            </script><noscript><a href="https://www.web-stat.com">
            <img src="//wts.one/6/5/1749173.gif" 
            style="border:0px;" alt="Web-Stat site statistics"></a></noscript>
        <!-- End Web-Stat code v 6.3 -->
      </div>
    </body>
</html>
